<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/product.css">
</head>

  <body>
    <%- include('../includes/navigation.ejs') %>

      <main>
          <form class="product-form" action="/admin/<% if(editMode) { %>edit-product<% } else { %>add-product<% } %>"
            method="POST" novalidate>

              <div class="form-control">
                  <label for="title">Title</label>
                  <input 
                    class="<%= validationErrors.find(err => err.param === 'title') ? 'invalid' : '' %>"
                    type="text" 
                    name="title" 
                    id="title"
                    value="<% if(editMode || validationErrors.length > 0) {%><%=product.title%><% }%>"
                  />
                  <% if (errorMessages) { %>  
                      <% errorMessages.forEach(errorMessage => { %>
                            <% if(errorMessage.input === 'title') {%>
                              <small class="error"><%= errorMessage.msg %></small>
                            <% } %>
                      <% }) %>
                  <% } %>
              </div>
              <div class="form-control">
                  <label for="imgUrl">Image URL</label>
                  <input 
                    class="<%= validationErrors.find(err => err.param === 'imgUrl') ? 'invalid' : '' %>"
                    type="text" 
                    name="imgUrl" 
                    id="imgUrl" 
                    value="<% if(editMode || validationErrors.length > 0) {%><%=product.imgUrl%><% }%>"
                  />
                  <% if (errorMessages) { %>  
                    <% errorMessages.forEach(errorMessage => { %>
                          <% if(errorMessage.input === 'imgUrl') {%>
                            <small class="error"><%= errorMessage.msg %></small>
                          <% } %>
                    <% }) %>
                <% } %>
              </div>
              <div class="form-control">
                  <label for="price">Price</label>
                  <input 
                    class="<%= validationErrors.find(err => err.param === 'price') ? 'invalid' : '' %>"
                    type="number" 
                    name="price" 
                    id="price" 
                    step="0.01"
                    value="<% if(editMode || validationErrors.length > 0) {%><%=product.price%><% }%>"
                  />
                  <% if (errorMessages) { %>  
                    <% errorMessages.forEach(errorMessage => { %>
                          <% if(errorMessage.input === 'price') {%>
                            <small class="error"><%= errorMessage.msg %></small>
                          <% } %>
                    <% }) %>
                <% } %>
              </div>
              <div class="form-control">
                  <label for="description">Description</label>
                  <textarea 
                    class="<%= validationErrors.find(err => err.param === 'description') ? 'invalid' : '' %>"
                    name="description" 
                    id="description" 
                    cols="30" 
                    rows="5"
                    placeholder="Enter a description"><% if(editMode || validationErrors.length > 0){%><%=product.description%><%}%>
                  </textarea>
                  <% if (errorMessages) { %>  
                    <% errorMessages.forEach(errorMessage => { %>
                          <% if(errorMessage.input === 'description') {%>
                            <small class="error"><%= errorMessage.msg %></small>
                          <% } %>
                    <% }) %>
                <% } %>
              </div>

              <% if(editMode) { %>
                  <input type="hidden" name="productId" value="<%= product._id %>">
              <% } %>

              <button class="btn" type="submit">
                  <% if(editMode) { %> Update Product <% } else { %> Add Product <% } %>
              </button>

              <input type="hidden" name="_csrf" value="<%= csrfToken %>">

          </form>
      </main>

<%- include('../includes/end.ejs') %>